
$menuTitleColor: #0D5FFF;
$menuTitleColorBlue: #fff;
$menuTitleColorGrown: #fff;

$mainColor: #0D5FFF;
$highlightColor: #5eede1;
$activedColor: #128279;
$warningColor: #e0130a;
$whiteBackground: #fff;
$lightBackground: #f9f9f9;
$deepBackground: #3d3645;

$buttonColor: #0047f9;

$titleColor: #333333;
$contentColor: #666666;
$tipsColor: #cccccc;
$boxColor: #d8d8d8;
$disabledColor: #e7e7e7;
$dividedColor: #eaeaea;

$borderColor: #cdcdcd;

$containerMaxWidth: 1140px;
$normalComponentPadding: 100px;
$percentageWidth: 90%;
$specWidth: 1340px;

$h1Size: 64px;
$h2Size: 40px;
$h3Size: 30px;
$h4Size: 24px;
$h5Size: 18px;
$h6Size: 14px;
$textSize: 18px;

